<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/people.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">
    <script
        src="{{ url_for('static', filename='js/index.js') }}"
        type="module"
    ></script>
    <script>
  	(function(h,o,u,n,d) {
    	  h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
    	  d=o.createElement(u);d.async=1;d.src=n
    	  n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
  	})(window,document,'script','https://www.datadoghq-browser-agent.com/datadog-rum-v4.js','DD_RUM')
  	DD_RUM.onReady(function() {
    	  DD_RUM.init({
      	    clientToken: 'pubd8054f74ca2d63bd32da53d69aca5951',
      	    applicationId: '6759a475-0d85-4871-9759-9d639a71087b',
      	    site: 'datadoghq.com',
      	    service: 'full-stack-python-test-app-2',
      	    env: 'dev-python-2',
      	    // Specify a version number to identify the deployed version of your application in Datadog
      	    version: '1.0.1',
      	    sessionSampleRate: 100,
      	    sessionReplaySampleRate: 100,
      	    trackUserInteractions: true,
      	    trackResources: true,
      	    trackLongTasks: true,
      	    defaultPrivacyLevel: 'mask-user-input',
            allowedTracingUrls: ["http://172.29.146.46:8000"],
	    // for testing
	    // allowedTracingUrls: ["create_person"],
            traceSampleRate: 100,
	    // for testing
	    trackViewsManually: true,
    	  });

    	  DD_RUM.startSessionReplayRecording();
  	})
    </script>
    // for testing
    <script>
        function create_custom_view(v) {
            data_action = v
            console.log('override default view to "' + data_action + '"');
            DD_RUM.onReady(function() {
                DD_RUM.startView({
                    name: data_action,
                    service: 'full-stack-python-test-app-2',
                    version: '1.0.1'
                });
            })
        }
    </script>
</head>
<body>
    <h1>
        Hello, People!
    </h1>
    <div class="person-create-card">
        {% include "_person_create_form.html" %}
    </div>
    <div class="people-list">
        {% for person in people %}
             {% include "_person_content.html" %}
        {% endfor %}
    </div>

    {% if config['DEBUG'] %}
        {% include "_debug.html" %}
    {% endif %}
</body>
</html>
